$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;
$border-color: #f9f9f9;
$shadow-color: #d9d9d9;
$line-color: #5ec4df;
$white: #ffffff;
$light-grey: #f5f5f5;
$light-medium-grey: #ccd5da;
$medium-grey: #788f9c;
$orange: #ec8950;
$black: #000000;
$dark-blue: #092b45;
$header-height: 70px;
$rwd-width: 900px;

body {
  background-color: $light-grey;
  @media only screen and(max-width:$rwd-width) {
    background-color: $white;
  }
}
h5,
p,
span {
  font-size: 13px;
}
#screen,
#modal {
  display: grid;
  background-color: $white;
  margin: 0 auto;
  border: solid 2px $border-color;
  @media only screen and(max-width:$rwd-width) {
    border: none;
  }
  main {
    position: relative;
    box-shadow: 0px -3px 4px $shadow-color;
    @media only screen and(max-width:$rwd-width) {
      box-shadow: none;
    }
  }
  header,
  footer {
    grid-column: 1/-1;
  }
}
