@mixin button {
  outline: none;
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-family: "Quicksand";
  font-weight: bolder;
  &.blue {
    background-color: $dark-blue;
    color: white;
    border-radius: 3px;
    border: none;
  }
  &.white {
    border: none;
    background-color: $white;
    color: $dark-blue;
  }
}

footer {
  width: 100%;
  height: 100px;
  padding: 30px 80px;
  background-color: $white;
  border-top: solid 1px $border-color;
  box-shadow: 0px 0px 4px $shadow-color;
  @media only screen and(max-width:$rwd-width) {
    height: 70px;
    padding: 15px 40px;
    position: fixed;
    bottom: 0;
  }
  a,
  button {
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
  a > button {
    @include button;
    &:first-child {
      &.white {
        &::after {
          content: unset;
        }
      }
    }
  }
  button {
    @include button;
    &::after {
      content: ">";
      margin-left: 5px;
    }
    &:disabled {
      cursor: not-allowed;
      &:last-child {
        background-color: $light-medium-grey;
      }
    }
  }
}
