header {
  position: relative;
  display: flex;
  justify-content: center;
  height: $header-height;
  @media only screen and(max-width:$rwd-width) {
    width: 100%;
    position: fixed;
  }
  z-index: 1;
  background-color: $light-medium-grey;
  div.triangle {
    width: 0px;
    height: 0px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 50px solid #ffffff;
    transform: scale(0.3);
    position: absolute;
    top: 41px;
    z-index: 1;
  }
  &.step1 {
    div.triangle {
      margin-right: 125px;
    }
  }
  ul {
    position: absolute;
    width: 270px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    li {
      display: inline;
      &.circle {
        margin-left: 55px;
        span {
          background-color: $dark-blue;
          box-shadow: 0px 0px 5px $black;
          color: $white;
          width: 35px;
          line-height: 35px;
          border-radius: 50%;
          position: absolute;
          text-align: center;
        }
        &.red {
          margin-left: 65px;
          span {
            background-color: $primary-color;
            box-shadow: unset;
            width: 25px;
            line-height: 25px;
            margin-top: 4px;
          }
        }
        &.disabled {
          margin-left: 65px;
          &:last-child {
            margin-left: 55px;
          }
          span {
            background-color: #788f9c;
            box-shadow: unset;
            width: 25px;
            line-height: 25px;
            margin-top: 4px;
          }
          + li.line.disabled {
            margin-left: 25px;
            width: 35px;
          }
        }
      }
      &.line {
        background-color: $dark-blue;
        position: absolute;
        width: 35px;
        height: 3px;
        margin-left: 35px;
        top: 15px;
        &.red {
          background-color: $primary-color;
          margin-left: 25px;
        }
        &.disabled {
          background-color: $medium-grey;
        }
      }
    }
  }
}
