#screen {
  width: 900px;
  margin-top: 50px;
  @media only screen and(max-width:$rwd-width) {
    width: 100%;
    margin-top: 0px;
  }
  main {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 80px;
    @media only screen and(max-width:$rwd-width) {
      grid-template-columns: repeat(1, 1fr);
      padding: 40px 40px 100px 40px;
      margin-top: $header-height;
      height: 100%;
    }
    p + p {
      margin-top: 0;
    }
    h2,
    h5 {
      color: $dark-blue;
    }
    h5 {
      margin-top: 20px;
    }
    h2,
    hr {
      grid-column: 1/-1;
    }
    hr {
      width: 40px;
      height: 3px;
      background-color: $line-color;
      border: none;
      margin-top: 10px;
    }
    p {
      margin-top: 20px;
      display: inline-block;
    }
  }
}
