#modal {
  width: 650px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media only screen and(max-width:$rwd-width) {
    width: 100%;
    height: 100%;
    align-items: center;
  }
  main {
    padding: 20px 80px;
    img {
      float: left;
      margin-right: 10px;
      &.loading {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
    }
    p {
      margin-top: 10px;
    }
  }
  footer {
    height: 70px;
    padding: 15px 80px;
    button {
      width: auto;
      &::after {
        content: ">";
        margin-left: 5px;
      }
    }
  }
}
