#screen {
  main {
    section.information {
      display: grid;
      padding: 40px;
      justify-content: center;
      img {
        margin: 0 auto;
        height: 141px;
      }
    }
    article {
      grid-column: 1/-1;
    }
  }
}
