#screen {
  main {
    column-gap: 20px;
    p {
      grid-column: 1/-1;
    }
    section {
      position: relative;
      div {
        position: relative;
      }
      input {
        border: 1px solid $light-medium-grey;
        padding-left: 10px;
        border-radius: 2px;
        margin-top: 7px;
        width: 100%;
        height: 40px;
        &:focus {
          outline: none;
        }
      }
      &.password {
        input {
          + hr {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            background-color: $orange;
            visibility: hidden;
          }
          &:focus {
            + hr {
              visibility: visible;
            }
          }
        }
        button {
          position: absolute;
          outline: none;
          cursor: pointer;
          bottom: 10px;
          right: 20px;
          height: 18px;
        }
        p {
          color: $primary-color;
          font-weight: bolder;
          font-family: auto;
        }
      }
      &.clue {
        grid-column: 1/-1;
        h5 {
          float: left;
          height: 20px;
        }
        h5 + img {
          float: left;
          top: 19px;
          position: absolute;
          cursor: help;
          margin-left: 6px;
        }
        input {
          width: 100%;
        }
        span {
          position: absolute;
          color: $light-medium-grey;
          font-weight: bold;
          bottom: -20px;
          right: 0;
        }
      }
    }
  }
}
